<!DOCTYPE html>
<html lang="it">
{{ partial "head.html" . }}
<body>

    {{ partial "nav.html" . }}

    <main>

        <section class="hero">
            <div class="container">
                {{ with .Params.image }}
                <div class="hero-img-container">
                    <img src="{{ . }}" alt="Copertina Centro Olistico" class="hero-img">
                </div>
                {{ end }}

                <h1>{{ .Title }}</h1>

                {{ with .Params.subtitle }}
                    <p class="subtitle">{{ . }}</p>
                {{ end }}
            </div>
        </section>

        <section class="content-container" style="text-align: center">
            {{ .Content }}
        </section>

    </main>

    {{ partial "footer.html" . }}

</body>
</html>